<div class="block-gallery cols-{{ block.columns | default("3") }}">
  {% for item in block.images %}
    {% if item.image %}<img src="{{ item.image }}" alt="{{ item.alt }}" />{% endif %}
  {% endfor %}
</div>
