<figure class="block-image">
  {% if block.image %}<img src="{{ block.image }}" alt="{{ block.alt }}" />{% endif %}
  {% if block.caption %}<figcaption>{{ block.caption }}</figcaption>{% endif %}
</figure>
